---
import { Image } from "astro:assets";

import SkillIcon from "./SkillIcon.astro";
import Navbar from "./Navbar.astro";

import Me from "../assets/images/me.png";
import { skillIcons } from "../data/skill_icons_data";

interface Props {
  pathname: string;
}

const { pathname } = Astro.props;
---

<header
  id="inicio"
  class="w-dvw h-dvh flex flex-col items-center justify-start bg-black"
>
  <Navbar pathname={pathname} />
  <div
    class="w-full h-[70%] flex flex-col sm:flex-row md:flex-row lg:flex-row md:mt-20 lg:mt-28"
  >
    <div
      class="w-full md:w-[50%] h-full flex flex-col justify-evenly items-center"
    >
      <div
        class="w-[80%] h-full md:w-[70%] md:h-[70%] lg:w-[70%] lg:h-[70%] flex flex-col justify-center items-center"
      >
        <h1
          class="font-display font-extrabold text-4xl mb-3 text-start text-white"
        >
          Hola, mi nombre es Miguel Ángel<br />
          Chávez
        </h1>
        <p
          class="font-body font-extralight text-justify text-xs md:text-2xl lg:text-3xl text-white"
        >
          Llevo más de dos años desarrollando aplicaciones, en este tiempo he
          construido proyectos reales que abarcan el frontend, backend y
          desarrollo móvil. He pariticipado durante todo el proceso de
          desarrollo y ciclo de vida del software, desde el diseño hasta la
          implementación final.
        </p>
      </div>
    </div>
    <div
      class="hidden lg:w-[50%] h-full lg:flex lg:justify-center lg:items-center"
    >
      <Image
        alt={"Miguel Ángel Chávez Barrera"}
        src={Me}
        class="rounded-full w-[35%] aspect-square object-cover"
      />
    </div>
  </div>
  <div class="overflow-hidden w-full h-[10%]">
    <ul
      class="w-[200%] h-full animate-carousel flex items-center justify-evenly"
    >
      {
        skillIcons.map((skill) => (
          <SkillIcon
            iconName={skill.skillClassIcon}
            colored={skill.colored}
            shadowColor={skill.shadowColor}
          />
        ))
      }
    </ul>
  </div>
</header>
